html {
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: arial;
    color: white
}

h1 {
    color: grey;
    font-family: verdana
}

div.mainDiv {
    background-color: white;
    color: black;
    width: 480px;
    padding: 20px;
    border-radius: 25px;
    align: center;
    margin: auto;
    position: relative;
}

div.formDiv {
    width: 300px;
    margin: 0 auto;
    align: center;
    position: relative;
}

label {
    display: inline-block;
    width: 90px;
    white-space: nowrap;
}

div.formInput {
    display: inline-block;
    padding: 5px 5px;
}

div.formLine {
    margin-bottom: 5px;
}